$white: #ffffff;
$dark-gray: #4a4a4a;
$font-family: "Source Sans Pro", sans-serif;
$regular-weight: 400;

html,
body {
	background-color: $white;
	color: $dark-gray;
	font-family: $font-family;
	font-weight: $regular-weight;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.5);
	}
}

#phamduy-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.user {
		position: relative;
		width: 120px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 20px;
		border-bottom: 1px solid lightgrey;

		&:hover {
			.delete-user {
				visibility: visible;
			}
		}

		.delete-user {
			visibility: hidden;
			cursor: pointer;
			position: absolute;
			right: 0;
		}

		.user-name {
			max-width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.user-avatar {
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 50%;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				transform: scale(1);
				transition: transform 1s ease-in;

				&:hover {
					transform: scale(1.5);

					// animation: rotating 4s linear infinite;
			
				}
			}
		}
	}
}
