$white: #ffffff;
$dark-gray: #4a4a4a;
$font-family: "Source Sans Pro", sans-serif;
$regular-weight: 400;

html,
body {
	background-color: $white;
	color: $dark-gray;
	font-family: $font-family;
	font-weight: $regular-weight;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#phamduy-container {}

.m-l_10 {
	margin-left: 10px;
}

.m-h_10 {
	margin-left: 10px;
	margin-right: 10px;
}

.m-r_10 {
	margin-right: 10px;
}
